extends layout.pug

block body
    block navbar
    .container
        h2 User List / Number of users #{users.length}
        each user in users
            table.table.table-borderless.big-font
                tbody
                    tr
                        td ID
                        td #{user._id}
                    tr
                        td Username
                        td #{user.username}
                    tr
                        td First Name
                        td #{user.firstName}
                    tr
                        td Last Name
                        td #{user.lastName}
                    tr
                        td Email
                        td #{user.email}
        else
            li User list is empty.