doctype
html(lang='en')
    head
        title Your Profile
    body
        div
            p ID  #{session.user._id}
            p Username  #{session.user.username}
            p First Name  #{session.user.firstName}
            p Last Name  #{session.user.lastName}
            p Email  #{session.user.email}


    form(method='post', action='/api/users/'+session.user._id)
        input(type='hidden', name='_method', value='PUT')
        p
        label(for='username') Username
        input(type='text', name='username')
        p
        label(for='firstName') FirstName
        input(type='text', name='firstName')
        p
        label(for='lastName') LastName
        input(type='text', name='lastName')
        p
        label(for='email') Email
        input(type='text', name='email')
        p
        label(for='oldPassword') Old Password
        input(type='password', name='oldPassword')
        p
        label(for='newPassword') New Password
        input(type='password', name='newPassword')
        p
        label(for='confirmPassword') Confirm New Password
        input(type='password', name='confirmPassword')
        p
        input(type='submit' value ='update my profile')
each message in flash
            h4(style="color: red;") #{message}
p
p
form(method='post', action='/api/users/' + session.user._id)
    input(type='hidden', name='_method', value='DELETE')
    input(type='submit' value='delete my profile')